.ratesTable {
    line-height: 1rem;
    border-collapse: collapse;
    margin-top:1rem;
    margin-bottom:1rem;
}

.ratesTable > tbody > tr:last-child {
    border-bottom: 1px solid var(--brand-primary);
}

.tableCell {
    border-top: 1px solid var(--brand-primary);
    padding: .5rem;
}
