html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 'Roboto', Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Times New Roman,sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

main h1,h2,h3,h4 {
  color:var(--brand-primary);
}

:root {
  --brand-primary: #4b5683;
}

/*Prevents fixed position header from covering top of the element when scrolled to via an anchor tag*/
#rates,#testimonials,#about,#contact,#quote {
  scroll-margin-top:60px;
}

/* Input element CSS reset */
button,
input,
optgroup,
select,
textarea,html input[type="button"],
input[type="reset"],button[disabled],
html input[disabled],button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline:none;
}
